/** GENERAL **/
*
  background-position: 0 0
  background-repeat: no-repeat
body
  background-color: #fff
  color: #333
  font-size: 62.5%
  font-family: Georgia, Times, serif
  font-style: normal
  font-weight: 400
  transition: .8s

p, li, blockquote
  font-size: 1.8em
  line-height: 1.4em
p
  margin-bottom: 1.4em

h1, h2, h3, h4, h5, h6  
  font-family: Helvetica, Arial, sans-serif
  font-weight: normal
  font-style: normal

h1  
  font-size: 2.4em
  line-height: 1.4em

h2
  font-size: 2.8em
  line-height: 1.1em
  margin-top: 1.75em
  margin-bottom: 1em

h3 
  font-size: 1.8em
  line-height: 1em
  margin-top: 1em
  margin-bottom: .5em

/** INDEX **/
.posts .main-picture
  background-size: cover
  text-align: center
  border: 5px #000 solid
  border-left: 0px
  border-right: 0px
  &.loaded
    transform: scale(1)
    transition: .3s
    box-shadow: 0 0 0 #000
  &.loading
    transform: scale(1.15)
    transition: .3s
    box-shadow: 0 0 20px #000
  h2
    display: inline
  a
    display: inline-block
    padding: 130px 25%
    color: #fff
    font-size: 1.8em
    line-height: 1.4em
    text-shadow: #333 0 0 8px
    text-decoration: none

.article
  display: none
  position: absolute
  top: 140px

/** ARTICLE **/
.big-picture, .post-header
  text-align: center
.post-header
  margin-bottom: 4em
.post-title
  font-size: 4.2em
.post-subtitle
  color: #999
  text-transform: uppercase
.post-meta a
  color: #c1272d
  text-decoration: none
.break-picture
  height: 480px
  background-size: cover

.start-making
  background-color: #f3f2f2