/** GENERAL **/
body
  background-color: #fff
  color: #333
  font-size: 62.5%
  font-family: Georgia, Times, serif
  font-style: normal
  font-weight: 400

p, li, blockquote
  font-size: 1.8em
  line-height: 1.4em
p
  margin-bottom: 1.4em

h1, h2, h3, h4, h5, h6  
  font-family: Helvetica, Arial, sans-serif
  font-weight: normal
  font-style: normal

h1  
  font-size: 2.4em
  line-height: 1.4em

h2
  font-size: 2.8em
  line-height: 1.1em
  margin-top: 1.75em
  margin-bottom: 1em

h3 
  font-size: 1.8em
  line-height: 1em
  margin-top: 1em
  margin-bottom: .5em


/** ARTICLE **/
.big-picture, .post-header
  text-align: center
.post-header
  margin-bottom: 4em
.post-title
  font-size: 4.2em
.post-subtitle
  color: #999
  text-transform: uppercase
.post-meta a
  color: #c1272d
  text-decoration: none
.break-picture
  height: 480px
  background-size: cover

.start-making
  background-color: #f3f2f2