<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

   <meta name="author" content="Slim Bouafif" />
   <meta name="description" content="{{ page.description }}" />
   <meta name="keywords" content="{{ page.keywords }}" />
   <meta name="robots" content="index, follow" />
   <meta property="og:type" content="article" />
   <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />   
   <meta property="og:title" content="{{ page.title }}" />
   <meta property="og:image" content="{{ ogp_image }}" />
   <meta property="og:article:author" content="{{ page.author_name }}" />
   <meta property="og:article:published_time" content="{{ page.date | date:"%d-%m-%Y" }}" />
   <meta property="og:site_name" content="{{ site.url }}" />

   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="{{ site.baseurl }}/pub/css/all.css" type="text/css" />
   <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
</head>
<body class="{{ page.class }}">
  <header>
    <h2>@sbouafif</h2>
  </header>

  {{ content }}

  <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

</body>
</html>
