---
layout: default
---
<article>
  <section class="big-picture">
    <img src="{{ site.baseurl}}/pub/img/{{ page.big_picture }}" alt="{{ page.big_picture_alt }}" />
  </section>

  <header class="row post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h3 class="post-subtitle">{{ page.subtitle }}</h3>
    <h3 class="post-meta"><a href="{{ page.author_url }}" title="{{ page.author_name}}'s twitter">{{ page.author_name }}</a> - {{ page.date }}</h3>
  </header>

  {{ content }}
</article>
